# All files under Third Party except DSS are not part of the Recorder 6 open source repository.
*

!.gitignore
!Dorset Software Services/
!Dorset Software Services/*
!Dorset Software Services/*/*
!Dorset Software Services/*/*/*