ALTER TABLE [dbo].[ADMIN_BOUNDARY] drop 
	CONSTRAINT [FK_ADMIN_BOUNDARY_ADMIN_AREA]
GO


ALTER TABLE [dbo].[ADMIN_BOUNDARY] ADD 
	CONSTRAINT [FK_ADMIN_BOUNDARY_ADMIN_AREA] FOREIGN KEY 
	(
		[ADMIN_AREA_KEY]
	) REFERENCES [dbo].[ADMIN_AREA] (
		[ADMIN_AREA_KEY]
	)
	
GO

ALTER TABLE [dbo].[ADMIN_RELATION] drop
	CONSTRAINT [FK_ADMIN_RELATION_ADMIN_AREA1]


ALTER TABLE [dbo].[ADMIN_RELATION] drop
	CONSTRAINT [FK_ADMIN_RELATION_ADMIN_AREA2]

go

ALTER TABLE [dbo].[ADMIN_RELATION] ADD 
	CONSTRAINT [FK_ADMIN_RELATION_ADMIN_AREA1] FOREIGN KEY 
	(
		[ADMIN_AREA_KEY_1]
	) REFERENCES [dbo].[ADMIN_AREA] (
		[ADMIN_AREA_KEY]
	),
	CONSTRAINT [FK_ADMIN_RELATION_ADMIN_AREA2] FOREIGN KEY 
	(
		[ADMIN_AREA_KEY_2]
	) REFERENCES [dbo].[ADMIN_AREA] (
		[ADMIN_AREA_KEY]
	)
	
GO

ALTER TABLE [dbo].[BIOTOPE_CLASSIFICATION] DROP 
	CONSTRAINT [FK_BIOTOPE_CLASSIFICATION_BT_CL_TYPE]

GO

ALTER TABLE [dbo].[BIOTOPE_CLASSIFICATION] ADD 
	CONSTRAINT [FK_BIOTOPE_CLASSIFICATION_BT_CL_TYPE] FOREIGN KEY 
	(
		[BT_CL_TYPE_KEY]
	) REFERENCES [dbo].[BIOTOPE_CLASSIFICATION_TYPE] (
		[BT_CL_TYPE_KEY]
	)
GO

ALTER TABLE [dbo].[BIOTOPE_CLASSIFICATION_VERSION] DROP 
	CONSTRAINT [FK_BT_CL_VERSION_BIOTOPE_CLASSIFICATION]

GO

ALTER TABLE [dbo].[BIOTOPE_CLASSIFICATION_VERSION] ADD 
	CONSTRAINT [FK_BT_CL_VERSION_BIOTOPE_CLASSIFICATION] FOREIGN KEY 
	(
		[BIOTOPE_CLASSIFICATION_KEY]
	) REFERENCES [dbo].[BIOTOPE_CLASSIFICATION] (
		[BIOTOPE_CLASSIFICATION_KEY]
	)
	
GO

ALTER TABLE [dbo].[BIOTOPE_DESIGNATION] DROP
	CONSTRAINT [FK_BIOTOPE_DESIGNATION_BIOTOPE_DESIGNATION_TYPE]

ALTER TABLE [dbo].[BIOTOPE_DESIGNATION] DROP
	CONSTRAINT [FK_BIOTOPE_DESIGNATION_BIOTOPE_LIST_ITEM]


GO

ALTER TABLE [dbo].[BIOTOPE_DESIGNATION] ADD 
	CONSTRAINT [FK_BIOTOPE_DESIGNATION_BIOTOPE_DESIGNATION_TYPE] FOREIGN KEY 
	(
		[BIOTOPE_DESIGNATION_TYPE_KEY]
	) REFERENCES [dbo].[BIOTOPE_DESIGNATION_TYPE] (
		[BIOTOPE_DESIGNATION_TYPE_KEY]
	),
	CONSTRAINT [FK_BIOTOPE_DESIGNATION_BIOTOPE_LIST_ITEM] FOREIGN KEY 
	(
		[BIOTOPE_LIST_ITEM_KEY]
	) REFERENCES [dbo].[BIOTOPE_LIST_ITEM] (
		[BIOTOPE_LIST_ITEM_KEY]
	)
	
GO

ALTER TABLE [dbo].[BIOTOPE_DETERMINATION] DROP
	CONSTRAINT [FK_BIOTOPE_DETERMINATION_BIOTOPE_LIST_ITEM]

ALTER TABLE [dbo].[BIOTOPE_DETERMINATION] DROP
	CONSTRAINT [FK_BIOTOPE_DETERMINATION_BIOTOPE_OCCURRENCE]
ALTER TABLE [dbo].[BIOTOPE_DETERMINATION] DROP
	CONSTRAINT [FK_BIOTOPE_DETERMINATION_DETERMINATION_TYPE]
ALTER TABLE [dbo].[BIOTOPE_DETERMINATION] DROP
	CONSTRAINT [FK_BIOTOPE_DETERMINATION_DETERMINER_ROLE]
ALTER TABLE [dbo].[BIOTOPE_DETERMINATION] DROP
	CONSTRAINT [FK_BIOTOPE_DETERMINATION_NAME]
ALTER TABLE [dbo].[BIOTOPE_DETERMINATION] DROP
	CONSTRAINT [FK_BIOTOPE_DETERMINATION_SOURCE]

GO

ALTER TABLE [dbo].[BIOTOPE_DETERMINATION] ADD 
	CONSTRAINT [FK_BIOTOPE_DETERMINATION_BIOTOPE_LIST_ITEM] FOREIGN KEY 
	(
		[BIOTOPE_LIST_ITEM_KEY]
	) REFERENCES [dbo].[BIOTOPE_LIST_ITEM] (
		[BIOTOPE_LIST_ITEM_KEY]
	) 
	,
	CONSTRAINT [FK_BIOTOPE_DETERMINATION_BIOTOPE_OCCURRENCE] FOREIGN KEY 
	(
		[BIOTOPE_OCCURRENCE_KEY]
	) REFERENCES [dbo].[BIOTOPE_OCCURRENCE] (
		[BIOTOPE_OCCURRENCE_KEY]
	)
	,
	CONSTRAINT [FK_BIOTOPE_DETERMINATION_DETERMINATION_TYPE] FOREIGN KEY 
	(
		[DETERMINATION_TYPE_KEY]
	) REFERENCES [dbo].[DETERMINATION_TYPE] (
		[DETERMINATION_TYPE_KEY]
	),
	CONSTRAINT [FK_BIOTOPE_DETERMINATION_DETERMINER_ROLE] FOREIGN KEY 
	(
		[DETERMINER_ROLE_KEY]
	) REFERENCES [dbo].[DETERMINER_ROLE] (
		[DETERMINER_ROLE_KEY]
	),
	CONSTRAINT [FK_BIOTOPE_DETERMINATION_NAME] FOREIGN KEY 
	(
		[DETERMINER]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	),
	CONSTRAINT [FK_BIOTOPE_DETERMINATION_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	)
GO

ALTER TABLE [dbo].[BIOTOPE_FACT] DROP
	CONSTRAINT [FK_BIOTOPE_FACT_BIOTOPE]

GO

ALTER TABLE [dbo].[BIOTOPE_FACT] ADD 
	CONSTRAINT [FK_BIOTOPE_FACT_BIOTOPE] FOREIGN KEY 
	(
		[BIOTOPE_KEY]
	) REFERENCES [dbo].[BIOTOPE] (
		[BIOTOPE_KEY]
	)
	
GO


ALTER TABLE [dbo].[BIOTOPE_LIST_ITEM] DROP
	CONSTRAINT [FK_BIOTOPE_LIST_ITEM_BIOTOPE]
ALTER TABLE [dbo].[BIOTOPE_LIST_ITEM] DROP
	CONSTRAINT [FK_BIOTOPE_LIST_ITEM_BIOTOPE_LIST_ITEM]
ALTER TABLE [dbo].[BIOTOPE_LIST_ITEM] DROP
	CONSTRAINT [FK_BIOTOPE_LIST_ITEM_BT_CL_VERSION]


GO

ALTER TABLE [dbo].[BIOTOPE_LIST_ITEM] ADD 
	CONSTRAINT [FK_BIOTOPE_LIST_ITEM_BIOTOPE] FOREIGN KEY 
	(
		[BIOTOPE_KEY]
	) REFERENCES [dbo].[BIOTOPE] (
		[BIOTOPE_KEY]
	)
	,
	CONSTRAINT [FK_BIOTOPE_LIST_ITEM_BIOTOPE_LIST_ITEM] FOREIGN KEY 
	(
		[PARENT]
	) REFERENCES [dbo].[BIOTOPE_LIST_ITEM] (
		[BIOTOPE_LIST_ITEM_KEY]
	),
	CONSTRAINT [FK_BIOTOPE_LIST_ITEM_BT_CL_VERSION] FOREIGN KEY 
	(
		[BT_CL_VERSION_KEY]
	) REFERENCES [dbo].[BIOTOPE_CLASSIFICATION_VERSION] (
		[BT_CL_VERSION_KEY]
	)
GO

ALTER TABLE [dbo].[BIOTOPE_OCCURRENCE] DROP
	CONSTRAINT [FK_BIOTOPE_OCCURRENCE_SAMPLE]
GO

ALTER TABLE [dbo].[BIOTOPE_OCCURRENCE] ADD 
	CONSTRAINT [FK_BIOTOPE_OCCURRENCE_SAMPLE] FOREIGN KEY 
	(
		[SAMPLE_KEY]
	) REFERENCES [dbo].[SAMPLE] (
		[SAMPLE_KEY]
	)  
GO

ALTER TABLE [dbo].[BIOTOPE_OCCURRENCE_DATA] DROP 
	CONSTRAINT [FK_BIOTOPE_OCCURRENCE_DATA_BIOTOPE_OCCURRENCE]
ALTER TABLE [dbo].[BIOTOPE_OCCURRENCE_DATA] DROP 
	CONSTRAINT [FK_BIOTOPE_OCCURRENCE_DATA_MEASUREMENT_QUALIFIER]
ALTER TABLE [dbo].[BIOTOPE_OCCURRENCE_DATA] DROP 
	CONSTRAINT [FK_BIOTOPE_OCCURRENCE_DATA_MEASUREMENT_UNIT]

GO

ALTER TABLE [dbo].[BIOTOPE_OCCURRENCE_DATA] ADD 
	CONSTRAINT [FK_BIOTOPE_OCCURRENCE_DATA_BIOTOPE_OCCURRENCE] FOREIGN KEY 
	(
		[BIOTOPE_OCCURRENCE_KEY]
	) REFERENCES [dbo].[BIOTOPE_OCCURRENCE] (
		[BIOTOPE_OCCURRENCE_KEY]
	)
	,
	CONSTRAINT [FK_BIOTOPE_OCCURRENCE_DATA_MEASUREMENT_QUALIFIER] FOREIGN KEY 
	(
		[MEASUREMENT_QUALIFIER_KEY]
	) REFERENCES [dbo].[MEASUREMENT_QUALIFIER] (
		[MEASUREMENT_QUALIFIER_KEY]
	),
	CONSTRAINT [FK_BIOTOPE_OCCURRENCE_DATA_MEASUREMENT_UNIT] FOREIGN KEY 
	(
		[MEASUREMENT_UNIT_KEY]
	) REFERENCES [dbo].[MEASUREMENT_UNIT] (
		[MEASUREMENT_UNIT_KEY]
	)
GO

ALTER TABLE [dbo].[BIOTOPE_OCCURRENCE_SOURCES] DROP
	CONSTRAINT [FK_BIOTOPE_OCCURRENCE_SOURCES_BIOTOPE_OCCURRENCE]
ALTER TABLE [dbo].[BIOTOPE_OCCURRENCE_SOURCES] DROP
	CONSTRAINT [FK_BIOTOPE_OCCURRENCE_SOURCES_SOURCE]

GO
ALTER TABLE [dbo].[BIOTOPE_OCCURRENCE_SOURCES] ADD 
	CONSTRAINT [FK_BIOTOPE_OCCURRENCE_SOURCES_BIOTOPE_OCCURRENCE] FOREIGN KEY 
	(
		[BIOTOPE_OCCURRENCE_KEY]
	) REFERENCES [dbo].[BIOTOPE_OCCURRENCE] (
		[BIOTOPE_OCCURRENCE_KEY]
	)
	,
	CONSTRAINT [FK_BIOTOPE_OCCURRENCE_SOURCES_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	)
	
GO
ALTER TABLE [dbo].[BIOTOPE_RELATION] DROP
	CONSTRAINT [FK_BIOTOPE_RELATION_BIOTOPE_LIST_ITEM]

GO

ALTER TABLE [dbo].[BIOTOPE_RELATION] ADD 
	CONSTRAINT [FK_BIOTOPE_RELATION_BIOTOPE_LIST_ITEM] FOREIGN KEY 
	(
		[BIOTOPE_LIST_ITEM_KEY]
	) REFERENCES [dbo].[BIOTOPE_LIST_ITEM] (
		[BIOTOPE_LIST_ITEM_KEY]
	)
	
GO

ALTER TABLE [dbo].[BIOTOPE_RELATION_ADMIN_AREA] DROP
	CONSTRAINT [FK_BIOTOPE_RELATION_ADMIN_AREA_ADMIN_AREA]
ALTER TABLE [dbo].[BIOTOPE_RELATION_ADMIN_AREA] DROP
	CONSTRAINT [FK_BIOTOPE_RELATION_ADMIN_AREA_BIOTOPE_RELATION]

GO

ALTER TABLE [dbo].[BIOTOPE_RELATION_ADMIN_AREA] ADD 
	CONSTRAINT [FK_BIOTOPE_RELATION_ADMIN_AREA_ADMIN_AREA] FOREIGN KEY 
	(
		[ADMIN_AREA_KEY]
	) REFERENCES [dbo].[ADMIN_AREA] (
		[ADMIN_AREA_KEY]
	)
	,
	CONSTRAINT [FK_BIOTOPE_RELATION_ADMIN_AREA_BIOTOPE_RELATION] FOREIGN KEY 
	(
		[BIOTOPE_RELATION_KEY]
	) REFERENCES [dbo].[BIOTOPE_RELATION] (
		[BIOTOPE_RELATION_KEY]
	)
	
GO

ALTER TABLE [dbo].[BIOTOPE_RELATION_JOIN] DROP
	CONSTRAINT [FK_BIOTOPE_RELATION_JOIN_BIOTOPE_LIST_ITEM]

ALTER TABLE [dbo].[BIOTOPE_RELATION_JOIN] DROP
	CONSTRAINT [FK_BIOTOPE_RELATION_JOIN_BIOTOPE_RELATION]

GO

ALTER TABLE [dbo].[BIOTOPE_RELATION_JOIN] ADD 
	CONSTRAINT [FK_BIOTOPE_RELATION_JOIN_BIOTOPE_LIST_ITEM] FOREIGN KEY 
	(
		[BIOTOPE_LIST_ITEM_KEY]
	) REFERENCES [dbo].[BIOTOPE_LIST_ITEM] (
		[BIOTOPE_LIST_ITEM_KEY]
	),
	CONSTRAINT [FK_BIOTOPE_RELATION_JOIN_BIOTOPE_RELATION] FOREIGN KEY 
	(
		[BIOTOPE_RELATION_KEY]
	) REFERENCES [dbo].[BIOTOPE_RELATION] (
		[BIOTOPE_RELATION_KEY]
	)
	
GO

ALTER TABLE [dbo].[BIOTOPE_SOURCES] DROP
	CONSTRAINT [FK_BIOTOPE_SOURCES_BIOTOPE]
ALTER TABLE [dbo].[BIOTOPE_SOURCES] DROP
	CONSTRAINT [FK_BIOTOPE_SOURCES_SOURCE]

GO

ALTER TABLE [dbo].[BIOTOPE_SOURCES] ADD 
	CONSTRAINT [FK_BIOTOPE_SOURCES_BIOTOPE] FOREIGN KEY 
	(
		[BIOTOPE_KEY]
	) REFERENCES [dbo].[BIOTOPE] (
		[BIOTOPE_KEY]
	)
	,
	CONSTRAINT [FK_BIOTOPE_SOURCES_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	)
	
GO

ALTER TABLE [dbo].[COMMUNICATION] DROP
	CONSTRAINT [FK_COMMUNICATION_NAME1]
ALTER TABLE [dbo].[COMMUNICATION] DROP
	CONSTRAINT [FK_COMMUNICATION_NAME2]
GO

ALTER TABLE [dbo].[COMMUNICATION] ADD 
	CONSTRAINT [FK_COMMUNICATION_NAME1] FOREIGN KEY 
	(
		[NAME_KEY_1]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	),
	CONSTRAINT [FK_COMMUNICATION_NAME2] FOREIGN KEY 
	(
		[NAME_KEY_2]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	)
	
GO

ALTER TABLE [dbo].[CONTACT_NUMBER] DROP
	CONSTRAINT [FK_CONTACT_NUMBER_NAME]

GO

ALTER TABLE [dbo].[CONTACT_NUMBER] ADD 
	CONSTRAINT [FK_CONTACT_NUMBER_NAME] FOREIGN KEY 
	(
		[NAME_KEY]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	)
GO

ALTER TABLE [dbo].[DAMAGE_OCCURRENCE] DROP
	CONSTRAINT [FK_DAMAGE_OCCURRENCE_LOCATION_FEATURE]

GO

ALTER TABLE [dbo].[DAMAGE_OCCURRENCE] ADD 
	CONSTRAINT [FK_DAMAGE_OCCURRENCE_LOCATION_FEATURE] FOREIGN KEY 
	(
		[LOCATION_FEATURE_KEY]
	) REFERENCES [dbo].[LOCATION_FEATURE] (
		[LOCATION_FEATURE_KEY]
	) 
GO

ALTER TABLE [dbo].[EXPORT_FILTER_SURVEY] DROP
	CONSTRAINT [FK_EXPORT_FILTER_SURVEY_EXPORT_FILTER] 
ALTER TABLE [dbo].[EXPORT_FILTER_SURVEY] DROP
	CONSTRAINT [FK_EXPORT_FILTER_SURVEY_SURVEY]

GO

ALTER TABLE [dbo].[EXPORT_FILTER_SURVEY] ADD 
	CONSTRAINT [FK_EXPORT_FILTER_SURVEY_EXPORT_FILTER] FOREIGN KEY 
	(
		[EXPORT_FILTER_KEY]
	) REFERENCES [dbo].[EXPORT_FILTER] (
		[EXPORT_FILTER_KEY]
	) ,
	CONSTRAINT [FK_EXPORT_FILTER_SURVEY_SURVEY] FOREIGN KEY 
	(
		[SURVEY_KEY]
	) REFERENCES [dbo].[SURVEY] (
		[SURVEY_KEY]
	)  
GO

ALTER TABLE [dbo].[EXPORT_FILTER_TAXON] DROP
	CONSTRAINT [FK_EXPORT_FILTER_TAXON_EXPORT_FILTER]
ALTER TABLE [dbo].[EXPORT_FILTER_TAXON] DROP
	CONSTRAINT [FK_EXPORT_FILTER_TAXON_TAXON_LIST_ITEM]

GO

ALTER TABLE [dbo].[EXPORT_FILTER_TAXON] ADD 
	CONSTRAINT [FK_EXPORT_FILTER_TAXON_EXPORT_FILTER] FOREIGN KEY 
	(
		[EXPORT_FILTER_KEY]
	) REFERENCES [dbo].[EXPORT_FILTER] (
		[EXPORT_FILTER_KEY]
	) ,
	CONSTRAINT [FK_EXPORT_FILTER_TAXON_TAXON_LIST_ITEM] FOREIGN KEY 
	(
		[TAXON_LIST_ITEM_KEY]
	) REFERENCES [dbo].[TAXON_LIST_ITEM] (
		[TAXON_LIST_ITEM_KEY]
	) 
GO

ALTER TABLE [dbo].[GRID_SQUARE] DROP
	CONSTRAINT [FK_GRID_SQUARE_LOCATION] 

GO

ALTER TABLE [dbo].[GRID_SQUARE] ADD 
	CONSTRAINT [FK_GRID_SQUARE_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	) 
GO

ALTER TABLE [dbo].[INDEX_TAXON_GROUP] DROP
	CONSTRAINT [FK_INDEX_TAXON_GROUP_TAXON_LIST_ITEM]
ALTER TABLE [dbo].[INDEX_TAXON_GROUP] DROP
	CONSTRAINT [FK_INDEX_TAXON_GROUP_TAXON_LIST_ITEM1]

GO
ALTER TABLE [dbo].[INDEX_TAXON_GROUP] ADD 
	CONSTRAINT [FK_INDEX_TAXON_GROUP_TAXON_LIST_ITEM] FOREIGN KEY 
	(
		[TAXON_LIST_ITEM_KEY]
	) REFERENCES [dbo].[TAXON_LIST_ITEM] (
		[TAXON_LIST_ITEM_KEY]
	),
	CONSTRAINT [FK_INDEX_TAXON_GROUP_TAXON_LIST_ITEM1] FOREIGN KEY 
	(
		[CONTAINED_LIST_ITEM_KEY]
	) REFERENCES [dbo].[TAXON_LIST_ITEM] (
		[TAXON_LIST_ITEM_KEY]
	) 
GO

ALTER TABLE [dbo].[INDEX_TAXON_NAME] DROP
	CONSTRAINT [FK_INDEX_TAXON_NAME_TAXON_LIST_VERSION]

GO

ALTER TABLE [dbo].[INDEX_TAXON_NAME] ADD 
	CONSTRAINT [FK_INDEX_TAXON_NAME_TAXON_LIST_VERSION] FOREIGN KEY 
	(
		[TAXON_LIST_VERSION_KEY]
	) REFERENCES [dbo].[TAXON_LIST_VERSION] (
		[TAXON_LIST_VERSION_KEY]
	)
GO

ALTER TABLE [dbo].[INDEX_TAXON_SYNONYM] DROP
	CONSTRAINT [FK_INDEX_TAXON_SYNONYM_TAXON_LIST_ITEM] 
ALTER TABLE [dbo].[INDEX_TAXON_SYNONYM] DROP
	CONSTRAINT [FK_INDEX_TAXON_SYNONYM_TAXON_LIST_ITEM1]

GO

ALTER TABLE [dbo].[INDEX_TAXON_SYNONYM] ADD 
	CONSTRAINT [FK_INDEX_TAXON_SYNONYM_TAXON_LIST_ITEM] FOREIGN KEY 
	(
		[TAXON_LIST_ITEM_KEY]
	) REFERENCES [dbo].[TAXON_LIST_ITEM] (
		[TAXON_LIST_ITEM_KEY]
	),
	CONSTRAINT [FK_INDEX_TAXON_SYNONYM_TAXON_LIST_ITEM1] FOREIGN KEY 
	(
		[SYNONYM_LIST_ITEM_KEY]
	) REFERENCES [dbo].[TAXON_LIST_ITEM] (
		[TAXON_LIST_ITEM_KEY]
	) 
GO
ALTER TABLE [dbo].[LAND_PARCEL] DROP
	CONSTRAINT [FK_LAND_PARCEL_LOCATION] 

GO

ALTER TABLE [dbo].[LAND_PARCEL] ADD 
	CONSTRAINT [FK_LAND_PARCEL_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	) 
GO

ALTER TABLE [dbo].[LOCATION] DROP
	CONSTRAINT [FK_LOCATION_LOCATION]
ALTER TABLE [dbo].[LOCATION] DROP
	CONSTRAINT [FK_LOCATION_LOCATION_TYPE]

GO

ALTER TABLE [dbo].[LOCATION] ADD 
	CONSTRAINT [FK_LOCATION_LOCATION] FOREIGN KEY 
	(
		[PARENT_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	),
	CONSTRAINT [FK_LOCATION_LOCATION_TYPE] FOREIGN KEY 
	(
		[LOCATION_TYPE_KEY]
	) REFERENCES [dbo].[LOCATION_TYPE] (
		[LOCATION_TYPE_KEY]
	)
GO
ALTER TABLE [dbo].[LOCATION_ADMIN_AREAS] DROP
	CONSTRAINT [FK_LOCATION_ADMIN_AREAS_ADMIN_AREA]
ALTER TABLE [dbo].[LOCATION_ADMIN_AREAS] DROP
	CONSTRAINT [FK_LOCATION_ADMIN_AREAS_LOCATION]

GO

ALTER TABLE [dbo].[LOCATION_ADMIN_AREAS] ADD 
	CONSTRAINT [FK_LOCATION_ADMIN_AREAS_ADMIN_AREA] FOREIGN KEY 
	(
		[ADMIN_AREA_KEY]
	) REFERENCES [dbo].[ADMIN_AREA] (
		[ADMIN_AREA_KEY]
	) ,
	CONSTRAINT [FK_LOCATION_ADMIN_AREAS_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	) 
GO

ALTER TABLE [dbo].[LOCATION_BOUNDARY] DROP
	CONSTRAINT [FK_LOCATION_BOUNDARY_LOCATION]

GO

ALTER TABLE [dbo].[LOCATION_BOUNDARY] ADD 
	CONSTRAINT [FK_LOCATION_BOUNDARY_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	) 
GO

ALTER TABLE [dbo].[LOCATION_DATA] DROP
	CONSTRAINT [FK_LOCATION_DATA_LOCATION]
ALTER TABLE [dbo].[LOCATION_DATA] DROP
	CONSTRAINT [FK_LOCATION_DATA_MEASUREMENT_QUALIFIER]
ALTER TABLE [dbo].[LOCATION_DATA] DROP
	CONSTRAINT [FK_LOCATION_DATA_MEASUREMENT_UNIT]

GO

ALTER TABLE [dbo].[LOCATION_DATA] ADD 
	CONSTRAINT [FK_LOCATION_DATA_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	) ,
	CONSTRAINT [FK_LOCATION_DATA_MEASUREMENT_QUALIFIER] FOREIGN KEY 
	(
		[MEASUREMENT_QUALIFIER_KEY]
	) REFERENCES [dbo].[MEASUREMENT_QUALIFIER] (
		[MEASUREMENT_QUALIFIER_KEY]
	),
	CONSTRAINT [FK_LOCATION_DATA_MEASUREMENT_UNIT] FOREIGN KEY 
	(
		[MEASUREMENT_UNIT_KEY]
	) REFERENCES [dbo].[MEASUREMENT_UNIT] (
		[MEASUREMENT_UNIT_KEY]
	)
GO


ALTER TABLE [dbo].[LOCATION_DESIGNATION] DROP
	CONSTRAINT [FK_LOCATION_DESIGNATION_LOCATION]
ALTER TABLE [dbo].[LOCATION_DESIGNATION] DROP
	CONSTRAINT [FK_LOCATION_DESIGNATION_NAME]
ALTER TABLE [dbo].[LOCATION_DESIGNATION] DROP
	CONSTRAINT [FK_LOCATION_DESIGNATION_SITE_STATUS]

GO


ALTER TABLE [dbo].[LOCATION_DESIGNATION] ADD 
	CONSTRAINT [FK_LOCATION_DESIGNATION_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	) ,
	CONSTRAINT [FK_LOCATION_DESIGNATION_NAME] FOREIGN KEY 
	(
		[AUTHORITY]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	),
	CONSTRAINT [FK_LOCATION_DESIGNATION_SITE_STATUS] FOREIGN KEY 
	(
		[SITE_STATUS_KEY]
	) REFERENCES [dbo].[SITE_STATUS] (
		[SITE_STATUS_KEY]
	)
GO

ALTER TABLE [dbo].[LOCATION_FEATURE] DROP
	CONSTRAINT [FK_LOCATION_FEATURE_LOCATION]
ALTER TABLE [dbo].[LOCATION_FEATURE] DROP
	CONSTRAINT [FK_LOCATION_FEATURE_LOCATION_FEATURE_GRADING]
GO

ALTER TABLE [dbo].[LOCATION_FEATURE] ADD 
	CONSTRAINT [FK_LOCATION_FEATURE_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	) ,
	CONSTRAINT [FK_LOCATION_FEATURE_LOCATION_FEATURE_GRADING] FOREIGN KEY 
	(
		[FEATURE_GRADING_KEY]
	) REFERENCES [dbo].[LOCATION_FEATURE_GRADING] (
		[FEATURE_GRADING_KEY]
	)
GO

ALTER TABLE [dbo].[LOCATION_FEATURE_GRADING] DROP
	CONSTRAINT [FK_LOCATION_FEATURE_GRADING_LOCATION_FEATURE_TYPE]

GO

ALTER TABLE [dbo].[LOCATION_FEATURE_GRADING] ADD 
	CONSTRAINT [FK_LOCATION_FEATURE_GRADING_LOCATION_FEATURE_TYPE] FOREIGN KEY 
	(
		[LOCATION_FEATURE_TYPE_KEY]
	) REFERENCES [dbo].[LOCATION_FEATURE_TYPE] (
		[LOCATION_FEATURE_TYPE_KEY]
	)
GO

ALTER TABLE [dbo].[LOCATION_FEATURE_SOURCES] DROP
	CONSTRAINT [FK_LOCATION_FEATURE_SOURCES_LOCATION_FEATURE]
ALTER TABLE [dbo].[LOCATION_FEATURE_SOURCES] DROP
	CONSTRAINT [FK_LOCATION_FEATURE_SOURCES_SOURCE]

GO

ALTER TABLE [dbo].[LOCATION_FEATURE_SOURCES] ADD 
	CONSTRAINT [FK_LOCATION_FEATURE_SOURCES_LOCATION_FEATURE] FOREIGN KEY 
	(
		[LOCATION_FEATURE_KEY]
	) REFERENCES [dbo].[LOCATION_FEATURE] (
		[LOCATION_FEATURE_KEY]
	) ,
	CONSTRAINT [FK_LOCATION_FEATURE_SOURCES_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	) 
GO

ALTER TABLE [dbo].[LOCATION_NAME] DROP
	CONSTRAINT [FK_LOCATION_NAME_LOCATION]

GO

ALTER TABLE [dbo].[LOCATION_NAME] ADD 
	CONSTRAINT [FK_LOCATION_NAME_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	) 
GO

ALTER TABLE [dbo].[LOCATION_RELATION] DROP
	CONSTRAINT [FK_LOCATION_RELATION_LOCATION1] 
ALTER TABLE [dbo].[LOCATION_RELATION] DROP
	CONSTRAINT [FK_LOCATION_RELATION_LOCATION2] 

GO

ALTER TABLE [dbo].[LOCATION_RELATION] ADD 
	CONSTRAINT [FK_LOCATION_RELATION_LOCATION1] FOREIGN KEY 
	(
		[LOCATION_KEY_1]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	),
	CONSTRAINT [FK_LOCATION_RELATION_LOCATION2] FOREIGN KEY 
	(
		[LOCATION_KEY_2]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	) 
GO

ALTER TABLE [dbo].[LOCATION_SOURCES] DROP
	CONSTRAINT [FK_LOCATION_SOURCES_LOCATION]
ALTER TABLE [dbo].[LOCATION_SOURCES] DROP
	CONSTRAINT [FK_LOCATION_SOURCES_SOURCE]

GO

ALTER TABLE [dbo].[LOCATION_SOURCES] ADD 
	CONSTRAINT [FK_LOCATION_SOURCES_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	) ,
	CONSTRAINT [FK_LOCATION_SOURCES_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	) 
GO

ALTER TABLE [dbo].[LOCATION_USE] DROP
	CONSTRAINT [FK_LOCATION_USE_LOCATION]

GO
ALTER TABLE [dbo].[LOCATION_USE] ADD 
	CONSTRAINT [FK_LOCATION_USE_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	) 
GO


ALTER TABLE [dbo].[MANAGEMENT_AIM] DROP
	CONSTRAINT [FK_MANAGEMENT_AIM_LOCATION_FEATURE]
ALTER TABLE [dbo].[MANAGEMENT_AIM] DROP
	CONSTRAINT [FK_MANAGEMENT_AIM_NAME] 

GO

ALTER TABLE [dbo].[MANAGEMENT_AIM] ADD 
	CONSTRAINT [FK_MANAGEMENT_AIM_LOCATION_FEATURE] FOREIGN KEY 
	(
		[LOCATION_FEATURE_KEY]
	) REFERENCES [dbo].[LOCATION_FEATURE] (
		[LOCATION_FEATURE_KEY]
	),
	CONSTRAINT [FK_MANAGEMENT_AIM_NAME] FOREIGN KEY 
	(
		[AUTHORITY]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	)
GO

ALTER TABLE [dbo].[MAP_SHEET] DROP 
	CONSTRAINT [FK_MAP_SHEET_USER]

GO

ALTER TABLE [dbo].[MAP_SHEET] ADD 
	CONSTRAINT [FK_MAP_SHEET_USER] FOREIGN KEY 
	(
		[USER_ID]
	) REFERENCES [dbo].[USER] (
		[NAME_KEY]
	)
GO

ALTER TABLE [dbo].[MEASUREMENT_QUALIFIER] DROP
	CONSTRAINT [FK_MEASUREMENT_QUALIFIER_MEASUREMENT_TYPE] 

GO

ALTER TABLE [dbo].[MEASUREMENT_QUALIFIER] ADD 
	CONSTRAINT [FK_MEASUREMENT_QUALIFIER_MEASUREMENT_TYPE] FOREIGN KEY 
	(
		[MEASUREMENT_TYPE_KEY]
	) REFERENCES [dbo].[MEASUREMENT_TYPE] (
		[MEASUREMENT_TYPE_KEY]
	) 
GO

ALTER TABLE [dbo].[MEASUREMENT_TYPE_CONTEXT] DROP
	CONSTRAINT [FK_MEASUREMENT_TYPE_CONTEXT_MEASUREMENT_CONTEXT] 
ALTER TABLE [dbo].[MEASUREMENT_TYPE_CONTEXT] DROP
	CONSTRAINT [FK_MEASUREMENT_TYPE_CONTEXT_MEASUREMENT_TYPE]

GO

ALTER TABLE [dbo].[MEASUREMENT_TYPE_CONTEXT] ADD 
	CONSTRAINT [FK_MEASUREMENT_TYPE_CONTEXT_MEASUREMENT_CONTEXT] FOREIGN KEY 
	(
		[MEASUREMENT_CONTEXT_KEY]
	) REFERENCES [dbo].[MEASUREMENT_CONTEXT] (
		[MEASUREMENT_CONTEXT_KEY]
	),
	CONSTRAINT [FK_MEASUREMENT_TYPE_CONTEXT_MEASUREMENT_TYPE] FOREIGN KEY 
	(
		[MEASUREMENT_TYPE_KEY]
	) REFERENCES [dbo].[MEASUREMENT_TYPE] (
		[MEASUREMENT_TYPE_KEY]
	) 
GO

ALTER TABLE [dbo].[MEASUREMENT_UNIT] DROP
	CONSTRAINT [FK_MEASUREMENT_UNIT_MEASUREMENT_TYPE]

GO

ALTER TABLE [dbo].[MEASUREMENT_UNIT] ADD 
	CONSTRAINT [FK_MEASUREMENT_UNIT_MEASUREMENT_TYPE] FOREIGN KEY 
	(
		[MEASUREMENT_TYPE_KEY]
	) REFERENCES [dbo].[MEASUREMENT_TYPE] (
		[MEASUREMENT_TYPE_KEY]
	) 
GO

ALTER TABLE [dbo].[NAME] DROP
	CONSTRAINT [FK_NAME_INDIVIDUAL]
ALTER TABLE [dbo].[NAME] DROP
	CONSTRAINT [FK_NAME_ORGANISATION]

GO

ALTER TABLE [dbo].[NAME]with nocheck ADD 
	CONSTRAINT [FK_NAME_INDIVIDUAL] FOREIGN KEY 
	(
		[NAME_KEY]
	) REFERENCES [dbo].[INDIVIDUAL] (
		[NAME_KEY]
	) NOT FOR REPLICATION 
ALTER TABLE [dbo].[NAME] with nocheck ADD 
	CONSTRAINT [FK_NAME_ORGANISATION] FOREIGN KEY 
	(
		[NAME_KEY]
	) REFERENCES [dbo].[ORGANISATION] (
		[NAME_KEY]
	) NOT FOR REPLICATION 
GO

ALTER TABLE [dbo].[NAME_RELATION] DROP
	CONSTRAINT [FK_NAME_RELATION_NAME1]
ALTER TABLE [dbo].[NAME_RELATION] DROP
	CONSTRAINT [FK_NAME_RELATION_NAME2]

GO


ALTER TABLE [dbo].[NAME_RELATION] ADD 
	CONSTRAINT [FK_NAME_RELATION_NAME1] FOREIGN KEY 
	(
		[NAME_KEY_1]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	),
	CONSTRAINT [FK_NAME_RELATION_NAME2] FOREIGN KEY 
	(
		[NAME_KEY_2]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	) 
GO

ALTER TABLE [dbo].[NAME_SOURCES] DROP
	CONSTRAINT [FK_NAME_SOURCES_NAME]
ALTER TABLE [dbo].[NAME_SOURCES] DROP
	CONSTRAINT [FK_NAME_SOURCES_SOURCE]

GO

ALTER TABLE [dbo].[NAME_SOURCES] ADD 
	CONSTRAINT [FK_NAME_SOURCES_NAME] FOREIGN KEY 
	(
		[NAME_KEY]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	) ,
	CONSTRAINT [FK_NAME_SOURCES_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	) 
GO

ALTER TABLE [dbo].[ORGANISATION] DROP
	CONSTRAINT [FK_ORGANISATION_ORGANISATION_TYPE]

GO

ALTER TABLE [dbo].[ORGANISATION] ADD 
	CONSTRAINT [FK_ORGANISATION_ORGANISATION_TYPE] FOREIGN KEY 
	(
		[ORGANISATION_TYPE_KEY]
	) REFERENCES [dbo].[ORGANISATION_TYPE] (
		[ORGANISATION_TYPE_KEY]
	)
GO

ALTER TABLE [dbo].[POTENTIAL_THREAT] DROP
	CONSTRAINT [FK_POTENTIAL_THREAT_LOCATION_FEATURE]
ALTER TABLE [dbo].[POTENTIAL_THREAT] DROP
	CONSTRAINT [FK_POTENTIAL_THREAT_THREAT_TYPE]

GO

ALTER TABLE [dbo].[POTENTIAL_THREAT] ADD 
	CONSTRAINT [FK_POTENTIAL_THREAT_LOCATION_FEATURE] FOREIGN KEY 
	(
		[LOCATION_FEATURE_KEY]
	) REFERENCES [dbo].[LOCATION_FEATURE] (
		[LOCATION_FEATURE_KEY]
	) ,
	CONSTRAINT [FK_POTENTIAL_THREAT_THREAT_TYPE] FOREIGN KEY 
	(
		[THREAT_TYPE_KEY]
	) REFERENCES [dbo].[THREAT_TYPE] (
		[THREAT_TYPE_KEY]
	)
GO

ALTER TABLE [dbo].[RECORDING_SCHEME] DROP
	CONSTRAINT [FK_RECORDING_SCHEME_EXPORT_FORMAT_LK]

GO

ALTER TABLE [dbo].[RECORDING_SCHEME] ADD 
	CONSTRAINT [FK_RECORDING_SCHEME_EXPORT_FORMAT_LK] FOREIGN KEY 
	(
		[EXPORT_FORMAT_ID]
	) REFERENCES [dbo].[EXPORT_FORMAT_LK] (
		[EXPORT_FORMAT_ID]
	)
GO

ALTER TABLE [dbo].[REFERENCE] DROP
	CONSTRAINT [FK_REFERENCE_JOURNAL]
ALTER TABLE [dbo].[REFERENCE] DROP
	CONSTRAINT [FK_REFERENCE_SOURCE]

GO

ALTER TABLE [dbo].[REFERENCE] ADD 
	CONSTRAINT [FK_REFERENCE_JOURNAL] FOREIGN KEY 
	(
		[JOURNAL_KEY]
	) REFERENCES [dbo].[JOURNAL] (
		[JOURNAL_KEY]
	),
	CONSTRAINT [FK_REFERENCE_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	)  ON UPDATE  CASCADE
GO

ALTER TABLE [dbo].[REFERENCE_AUTHOR] DROP
	CONSTRAINT [FK_REFERENCE_AUTHOR_REFERENCE] 


GO
ALTER TABLE [dbo].[REFERENCE_AUTHOR] ADD 
	CONSTRAINT [FK_REFERENCE_AUTHOR_REFERENCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[REFERENCE] (
		[SOURCE_KEY]
	)  ON UPDATE CASCADE
GO

ALTER TABLE [dbo].[REFERENCE_EDITOR] DROP
	CONSTRAINT [FK_REFERENCE_EDITOR_REFERENCE]

GO

ALTER TABLE [dbo].[REFERENCE_EDITOR] ADD 
	CONSTRAINT [FK_REFERENCE_EDITOR_REFERENCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[REFERENCE] (
		[SOURCE_KEY]
	)  ON UPDATE CASCADE
GO

ALTER TABLE [dbo].[REFERENCE_NUMBER] DROP
	CONSTRAINT [FK_REFERENCE_NUMBER_REFERENCE]

GO

ALTER TABLE [dbo].[REFERENCE_NUMBER] ADD 
	CONSTRAINT [FK_REFERENCE_NUMBER_REFERENCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[REFERENCE] (
		[SOURCE_KEY]
	) ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[REPORT_ATTRIBUTE] DROP
	CONSTRAINT [FK_REPORT_ATTRIBUTE_REPORT_JOIN]
ALTER TABLE [dbo].[REPORT_ATTRIBUTE] DROP
	CONSTRAINT [FK_REPORT_ATTRIBUTE_REPORT_WHERE]

GO

ALTER TABLE [dbo].[REPORT_ATTRIBUTE] ADD 
	CONSTRAINT [FK_REPORT_ATTRIBUTE_REPORT_JOIN] FOREIGN KEY 
	(
		[REPORT_JOIN_KEY]
	) REFERENCES [dbo].[REPORT_JOIN] (
		[REPORT_JOIN_KEY]
	),
	CONSTRAINT [FK_REPORT_ATTRIBUTE_REPORT_WHERE] FOREIGN KEY 
	(
		[REPORT_WHERE_KEY]
	) REFERENCES [dbo].[REPORT_WHERE] (
		[REPORT_WHERE_KEY]
	)
GO

ALTER TABLE [dbo].[REPORT_FIELD] DROP
	CONSTRAINT [FK_REPORT_FIELD_REPORT_ATTRIBUTE]


GO
ALTER TABLE [dbo].[REPORT_FIELD] ADD 
	CONSTRAINT [FK_REPORT_FIELD_REPORT_ATTRIBUTE] FOREIGN KEY 
	(
		[REPORT_ATTRIBUTE_KEY]
	) REFERENCES [dbo].[REPORT_ATTRIBUTE] (
		[REPORT_ATTRIBUTE_KEY]
	)
GO

ALTER TABLE [dbo].[SAMPLE] DROP
	CONSTRAINT [FK_SAMPLE_LOCATION] 
ALTER TABLE [dbo].[SAMPLE] DROP
	CONSTRAINT [FK_SAMPLE_SAMPLE_TYPE]
ALTER TABLE [dbo].[SAMPLE] DROP
	CONSTRAINT [FK_SAMPLE_SURVEY_EVENT] 

GO

ALTER TABLE [dbo].[SAMPLE] ADD 
	CONSTRAINT [FK_SAMPLE_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	),
	CONSTRAINT [FK_SAMPLE_SAMPLE_TYPE] FOREIGN KEY 
	(
		[SAMPLE_TYPE_KEY]
	) REFERENCES [dbo].[SAMPLE_TYPE] (
		[SAMPLE_TYPE_KEY]
	),
	CONSTRAINT [FK_SAMPLE_SURVEY_EVENT] FOREIGN KEY 
	(
		[SURVEY_EVENT_KEY]
	) REFERENCES [dbo].[SURVEY_EVENT] (
		[SURVEY_EVENT_KEY]
	) 
GO

ALTER TABLE [dbo].[SAMPLE_DATA] DROP
	CONSTRAINT [FK_SAMPLE_DATA_MEASUREMENT_QUALIFIER] 
ALTER TABLE [dbo].[SAMPLE_DATA] DROP
	CONSTRAINT [FK_SAMPLE_DATA_MEASUREMENT_UNIT]
ALTER TABLE [dbo].[SAMPLE_DATA] DROP
	CONSTRAINT [FK_SAMPLE_DATA_SAMPLE]
GO

ALTER TABLE [dbo].[SAMPLE_DATA] ADD 
	CONSTRAINT [FK_SAMPLE_DATA_MEASUREMENT_QUALIFIER] FOREIGN KEY 
	(
		[MEASUREMENT_QUALIFIER_KEY]
	) REFERENCES [dbo].[MEASUREMENT_QUALIFIER] (
		[MEASUREMENT_QUALIFIER_KEY]
	),
	CONSTRAINT [FK_SAMPLE_DATA_MEASUREMENT_UNIT] FOREIGN KEY 
	(
		[MEASUREMENT_UNIT_KEY]
	) REFERENCES [dbo].[MEASUREMENT_UNIT] (
		[MEASUREMENT_UNIT_KEY]
	),
	CONSTRAINT [FK_SAMPLE_DATA_SAMPLE] FOREIGN KEY 
	(
		[SAMPLE_KEY]
	) REFERENCES [dbo].[SAMPLE] (
		[SAMPLE_KEY]
	) 
GO

ALTER TABLE [dbo].[SAMPLE_RECORDER] DROP
	CONSTRAINT [FK_SAMPLE_RECORDER_SAMPLE]
ALTER TABLE [dbo].[SAMPLE_RECORDER] DROP
	CONSTRAINT [FK_SAMPLE_RECORDER_SURVEY_EVENT_RECORDER]

GO

ALTER TABLE [dbo].[SAMPLE_RECORDER] ADD 
	CONSTRAINT [FK_SAMPLE_RECORDER_SAMPLE] FOREIGN KEY 
	(
		[SAMPLE_KEY]
	) REFERENCES [dbo].[SAMPLE] (
		[SAMPLE_KEY]
	)   ON UPDATE CASCADE ,
	CONSTRAINT [FK_SAMPLE_RECORDER_SURVEY_EVENT_RECORDER] FOREIGN KEY 
	(
		[SE_RECORDER_KEY]
	) REFERENCES [dbo].[SURVEY_EVENT_RECORDER] (
		[SE_RECORDER_KEY]
	) 
GO

ALTER TABLE [dbo].[SAMPLE_RELATION] DROP
	CONSTRAINT [FK_SAMPLE_RELATION_SAMPLE1]
ALTER TABLE [dbo].[SAMPLE_RELATION] DROP
	CONSTRAINT [FK_SAMPLE_RELATION_SAMPLE2]

GO

ALTER TABLE [dbo].[SAMPLE_RELATION] ADD 
	CONSTRAINT [FK_SAMPLE_RELATION_SAMPLE1] FOREIGN KEY 
	(
		[SAMPLE_KEY_1]
	) REFERENCES [dbo].[SAMPLE] (
		[SAMPLE_KEY]
	),
	CONSTRAINT [FK_SAMPLE_RELATION_SAMPLE2] FOREIGN KEY 
	(
		[SAMPLE_KEY_2]
	) REFERENCES [dbo].[SAMPLE] (
		[SAMPLE_KEY]
	)  
GO

ALTER TABLE [dbo].[SAMPLE_SOURCES] DROP
	CONSTRAINT [FK_SAMPLE_SOURCES_SAMPLE]
ALTER TABLE [dbo].[SAMPLE_SOURCES] DROP
	CONSTRAINT [FK_SAMPLE_SOURCES_SOURCE]

GO

ALTER TABLE [dbo].[SAMPLE_SOURCES] ADD 
	CONSTRAINT [FK_SAMPLE_SOURCES_SAMPLE] FOREIGN KEY 
	(
		[SAMPLE_KEY]
	) REFERENCES [dbo].[SAMPLE] (
		[SAMPLE_KEY]
	) ,
	CONSTRAINT [FK_SAMPLE_SOURCES_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	) 
GO

ALTER TABLE [dbo].[SOURCE_FILE] DROP
	CONSTRAINT [FK_SOURCE_FILE_SOURCE]

GO
ALTER TABLE [dbo].[SOURCE_FILE] ADD 
	CONSTRAINT [FK_SOURCE_FILE_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	) 
GO

ALTER TABLE [dbo].[SPECIMEN] DROP
	CONSTRAINT [FK_SPECIMEN_SPECIMEN_TYPE]
ALTER TABLE [dbo].[SPECIMEN] DROP
	CONSTRAINT [FK_SPECIMEN_TAXON_OCCURRENCE]

GO

ALTER TABLE [dbo].[SPECIMEN] ADD 
	CONSTRAINT [FK_SPECIMEN_SPECIMEN_TYPE] FOREIGN KEY 
	(
		[SPECIMEN_TYPE_KEY]
	) REFERENCES [dbo].[SPECIMEN_TYPE] (
		[SPECIMEN_TYPE_KEY]
	),
	CONSTRAINT [FK_SPECIMEN_TAXON_OCCURRENCE] FOREIGN KEY 
	(
		[TAXON_OCCURRENCE_KEY]
	) REFERENCES [dbo].[TAXON_OCCURRENCE] (
		[TAXON_OCCURRENCE_KEY]
	) 
GO

ALTER TABLE [dbo].[SURVEY] DROP
	CONSTRAINT [FK_SURVEY_NAME]
ALTER TABLE [dbo].[SURVEY] DROP
	CONSTRAINT [FK_SURVEY_SURVEY_MEDIA]
ALTER TABLE [dbo].[SURVEY] DROP
	CONSTRAINT [FK_SURVEY_SURVEY_STATUS]
ALTER TABLE [dbo].[SURVEY] DROP
	CONSTRAINT [FK_SURVEY_SURVEY_TYPE]

GO

ALTER TABLE [dbo].[SURVEY] ADD 
	CONSTRAINT [FK_SURVEY_NAME] FOREIGN KEY 
	(
		[RUN_BY]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	),
	CONSTRAINT [FK_SURVEY_SURVEY_MEDIA] FOREIGN KEY 
	(
		[SURVEY_MEDIA_KEY]
	) REFERENCES [dbo].[SURVEY_MEDIA] (
		[SURVEY_MEDIA_KEY]
	),
	CONSTRAINT [FK_SURVEY_SURVEY_STATUS] FOREIGN KEY 
	(
		[SURVEY_STATUS_KEY]
	) REFERENCES [dbo].[SURVEY_STATUS] (
		[SURVEY_STATUS_KEY]
	),
	CONSTRAINT [FK_SURVEY_SURVEY_TYPE] FOREIGN KEY 
	(
		[SURVEY_TYPE_KEY]
	) REFERENCES [dbo].[SURVEY_TYPE] (
		[SURVEY_TYPE_KEY]
	)
GO

ALTER TABLE [dbo].[SURVEY_EVENT] DROP
	CONSTRAINT [FK_SURVEY_EVENT_LOCATION]
ALTER TABLE [dbo].[SURVEY_EVENT] DROP
	CONSTRAINT [FK_SURVEY_EVENT_SURVEY]

GO

ALTER TABLE [dbo].[SURVEY_EVENT] ADD 
	CONSTRAINT [FK_SURVEY_EVENT_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	)
ALTER TABLE [dbo].[SURVEY_EVENT]with nocheck ADD 
	CONSTRAINT [FK_SURVEY_EVENT_SURVEY] FOREIGN KEY 
	(
		[SURVEY_KEY]
	) REFERENCES [dbo].[SURVEY] (
		[SURVEY_KEY]
	) 
GO

ALTER TABLE [dbo].[SURVEY_EVENT_RECORDER] DROP
	CONSTRAINT [FK_SURVEY_EVENT_RECORDER_NAME] 
ALTER TABLE [dbo].[SURVEY_EVENT_RECORDER] DROP
	CONSTRAINT [FK_SURVEY_EVENT_RECORDER_RECORDER_ROLE] 
ALTER TABLE [dbo].[SURVEY_EVENT_RECORDER] DROP
	CONSTRAINT [FK_SURVEY_EVENT_RECORDER_SURVEY_EVENT]

GO

ALTER TABLE [dbo].[SURVEY_EVENT_RECORDER] ADD 
	CONSTRAINT [FK_SURVEY_EVENT_RECORDER_NAME] FOREIGN KEY 
	(
		[NAME_KEY]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	) ,
	CONSTRAINT [FK_SURVEY_EVENT_RECORDER_RECORDER_ROLE] FOREIGN KEY 
	(
		[RECORDER_ROLE_KEY]
	) REFERENCES [dbo].[RECORDER_ROLE] (
		[RECORDER_ROLE_KEY]
	),
	CONSTRAINT [FK_SURVEY_EVENT_RECORDER_SURVEY_EVENT] FOREIGN KEY 
	(
		[SURVEY_EVENT_KEY]
	) REFERENCES [dbo].[SURVEY_EVENT] (
		[SURVEY_EVENT_KEY]
	)
GO

ALTER TABLE [dbo].[SURVEY_EVENT_SOURCES] DROP
	CONSTRAINT [FK_SURVEY_EVENT_SOURCES_SOURCE]
ALTER TABLE [dbo].[SURVEY_EVENT_SOURCES] DROP
	CONSTRAINT [FK_SURVEY_EVENT_SOURCES_SURVEY_EVENT]

GO

ALTER TABLE [dbo].[SURVEY_EVENT_SOURCES] ADD 
	CONSTRAINT [FK_SURVEY_EVENT_SOURCES_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	) ,
	CONSTRAINT [FK_SURVEY_EVENT_SOURCES_SURVEY_EVENT] FOREIGN KEY 
	(
		[SURVEY_EVENT_KEY]
	) REFERENCES [dbo].[SURVEY_EVENT] (
		[SURVEY_EVENT_KEY]
	) 
GO

ALTER TABLE [dbo].[SURVEY_SOURCES] DROP
	CONSTRAINT [FK_SURVEY_SOURCES_SOURCE]
ALTER TABLE [dbo].[SURVEY_SOURCES] DROP
	CONSTRAINT [FK_SURVEY_SOURCES_SURVEY]

GO

ALTER TABLE [dbo].[SURVEY_SOURCES] ADD 
	CONSTRAINT [FK_SURVEY_SOURCES_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	) ,
	CONSTRAINT [FK_SURVEY_SOURCES_SURVEY] FOREIGN KEY 
	(
		[SURVEY_KEY]
	) REFERENCES [dbo].[SURVEY] (
		[SURVEY_KEY]
	) 
GO

ALTER TABLE [dbo].[TAXON] DROP
	CONSTRAINT [FK_TAXON_TAXON_NAME_TYPE] 

GO
ALTER TABLE [dbo].[TAXON] ADD 
	CONSTRAINT [FK_TAXON_TAXON_NAME_TYPE] FOREIGN KEY 
	(
		[TAXON_NAME_TYPE_KEY]
	) REFERENCES [dbo].[TAXON_NAME_TYPE] (
		[TAXON_NAME_TYPE_KEY]
	)
GO

ALTER TABLE [dbo].[TAXON_BIOTOPE_ASSOCIATION] DROP
	CONSTRAINT [FK_TAXON_BIOTOPE_ASSOCIATION_BIOTOPE]
ALTER TABLE [dbo].[TAXON_BIOTOPE_ASSOCIATION] DROP
	CONSTRAINT [FK_TAXON_BIOTOPE_ASSOCIATION_TAXON_VERSION]

GO
ALTER TABLE [dbo].[TAXON_BIOTOPE_ASSOCIATION] ADD 
	CONSTRAINT [FK_TAXON_BIOTOPE_ASSOCIATION_BIOTOPE] FOREIGN KEY 
	(
		[BIOTOPE_KEY]
	) REFERENCES [dbo].[BIOTOPE] (
		[BIOTOPE_KEY]
	) ,
	CONSTRAINT [FK_TAXON_BIOTOPE_ASSOCIATION_TAXON_VERSION] FOREIGN KEY 
	(
		[TAXON_VERSION_KEY]
	) REFERENCES [dbo].[TAXON_VERSION] (
		[TAXON_VERSION_KEY]
	) 
GO

ALTER TABLE [dbo].[TAXON_COMMON_NAME] DROP
	CONSTRAINT [FK_TAXON_COMMON_NAME_TAXON_LIST_ITEM]
ALTER TABLE [dbo].[TAXON_COMMON_NAME] DROP 
	CONSTRAINT [FK_TAXON_COMMON_NAME_TAXON_VERSION]

GO

ALTER TABLE [dbo].[TAXON_COMMON_NAME] ADD 
	CONSTRAINT [FK_TAXON_COMMON_NAME_TAXON_LIST_ITEM] FOREIGN KEY 
	(
		[TAXON_LIST_ITEM_KEY]
	) REFERENCES [dbo].[TAXON_LIST_ITEM] (
		[TAXON_LIST_ITEM_KEY]
	)   ON UPDATE CASCADE ,
	CONSTRAINT [FK_TAXON_COMMON_NAME_TAXON_VERSION] FOREIGN KEY 
	(
		[TAXON_VERSION_KEY]
	) REFERENCES [dbo].[TAXON_VERSION] (
		[TAXON_VERSION_KEY]
	)    ON UPDATE CASCADE
GO

ALTER TABLE [dbo].[TAXON_DESIGNATION] DROP
	CONSTRAINT [FK_TAXON_DESIGNATION_SOURCE]
ALTER TABLE [dbo].[TAXON_DESIGNATION] DROP
	CONSTRAINT [FK_TAXON_DESIGNATION_TAXON_DESIGNATION_TYPE]
ALTER TABLE [dbo].[TAXON_DESIGNATION] DROP
	CONSTRAINT [FK_TAXON_DESIGNATION_TAXON_LIST_ITEM]

GO

ALTER TABLE [dbo].[TAXON_DESIGNATION] ADD 
	CONSTRAINT [FK_TAXON_DESIGNATION_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	),
	CONSTRAINT [FK_TAXON_DESIGNATION_TAXON_DESIGNATION_TYPE] FOREIGN KEY 
	(
		[TAXON_DESIGNATION_TYPE_KEY]
	) REFERENCES [dbo].[TAXON_DESIGNATION_TYPE] (
		[TAXON_DESIGNATION_TYPE_KEY]
	),
	CONSTRAINT [FK_TAXON_DESIGNATION_TAXON_LIST_ITEM] FOREIGN KEY 
	(
		[TAXON_LIST_ITEM_KEY]
	) REFERENCES [dbo].[TAXON_LIST_ITEM] (
		[TAXON_LIST_ITEM_KEY]
	) 
GO

ALTER TABLE [dbo].[TAXON_DETERMINATION] DROP
	CONSTRAINT [FK_TAXON_DETERMINATION_DETERMINATION_TYPE] 
ALTER TABLE [dbo].[TAXON_DETERMINATION] DROP
	CONSTRAINT [FK_TAXON_DETERMINATION_DETERMINER_ROLE]
ALTER TABLE [dbo].[TAXON_DETERMINATION] DROP
	CONSTRAINT [FK_TAXON_DETERMINATION_NAME]
ALTER TABLE [dbo].[TAXON_DETERMINATION] DROP
	CONSTRAINT [FK_TAXON_DETERMINATION_SOURCE]
ALTER TABLE [dbo].[TAXON_DETERMINATION] DROP
	CONSTRAINT [FK_TAXON_DETERMINATION_TAXON_LIST_ITEM]
ALTER TABLE [dbo].[TAXON_DETERMINATION] DROP
	CONSTRAINT [FK_TAXON_DETERMINATION_TAXON_OCCURRENCE]

GO

ALTER TABLE [dbo].[TAXON_DETERMINATION] ADD 
	CONSTRAINT [FK_TAXON_DETERMINATION_DETERMINATION_TYPE] FOREIGN KEY 
	(
		[DETERMINATION_TYPE_KEY]
	) REFERENCES [dbo].[DETERMINATION_TYPE] (
		[DETERMINATION_TYPE_KEY]
	),
	CONSTRAINT [FK_TAXON_DETERMINATION_DETERMINER_ROLE] FOREIGN KEY 
	(
		[DETERMINER_ROLE_KEY]
	) REFERENCES [dbo].[DETERMINER_ROLE] (
		[DETERMINER_ROLE_KEY]
	),
	CONSTRAINT [FK_TAXON_DETERMINATION_NAME] FOREIGN KEY 
	(
		[DETERMINER]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	),
	CONSTRAINT [FK_TAXON_DETERMINATION_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	),
	CONSTRAINT [FK_TAXON_DETERMINATION_TAXON_LIST_ITEM] FOREIGN KEY 
	(
		[TAXON_LIST_ITEM_KEY]
	) REFERENCES [dbo].[TAXON_LIST_ITEM] (
		[TAXON_LIST_ITEM_KEY]
	) ,
	CONSTRAINT [FK_TAXON_DETERMINATION_TAXON_OCCURRENCE] FOREIGN KEY 
	(
		[TAXON_OCCURRENCE_KEY]
	) REFERENCES [dbo].[TAXON_OCCURRENCE] (
		[TAXON_OCCURRENCE_KEY]
	) 
GO

ALTER TABLE [dbo].[TAXON_FACT] DROP
	CONSTRAINT [FK_TAXON_FACT_SOURCE]
ALTER TABLE [dbo].[TAXON_FACT] DROP
	CONSTRAINT [FK_TAXON_FACT_TAXON_VERSION]

GO 

ALTER TABLE [dbo].[TAXON_FACT] ADD 
	CONSTRAINT [FK_TAXON_FACT_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	) ,
	CONSTRAINT [FK_TAXON_FACT_TAXON_VERSION] FOREIGN KEY 
	(
		[TAXON_VERSION_KEY]
	) REFERENCES [dbo].[TAXON_VERSION] (
		[TAXON_VERSION_KEY]
	)  ON UPDATE CASCADE
GO

ALTER TABLE [dbo].[TAXON_LIST] DROP
	CONSTRAINT [FK_TAXON_LIST_TAXON_LIST_TYPE]

GO

ALTER TABLE [dbo].[TAXON_LIST] ADD 
	CONSTRAINT [FK_TAXON_LIST_TAXON_LIST_TYPE] FOREIGN KEY 
	(
		[TAXON_LIST_TYPE_KEY]
	) REFERENCES [dbo].[TAXON_LIST_TYPE] (
		[TAXON_LIST_TYPE_KEY]
	)
GO

ALTER TABLE [dbo].[TAXON_LIST_ITEM] DROP
	CONSTRAINT [FK_TAXON_LIST_ITEM_TAXON_LIST_VERSION]
ALTER TABLE [dbo].[TAXON_LIST_ITEM] DROP
	CONSTRAINT [FK_TAXON_LIST_ITEM_TAXON_RANK]
ALTER TABLE [dbo].[TAXON_LIST_ITEM] DROP
	CONSTRAINT [FK_TAXON_LIST_ITEM_TAXON_VERSION]

GO

ALTER TABLE [dbo].[TAXON_LIST_ITEM] ADD 
	CONSTRAINT [FK_TAXON_LIST_ITEM_TAXON_LIST_VERSION] FOREIGN KEY 
	(
		[TAXON_LIST_VERSION_KEY]
	) REFERENCES [dbo].[TAXON_LIST_VERSION] (
		[TAXON_LIST_VERSION_KEY]
	) ,
	CONSTRAINT [FK_TAXON_LIST_ITEM_TAXON_RANK] FOREIGN KEY 
	(
		[TAXON_RANK_KEY]
	) REFERENCES [dbo].[TAXON_RANK] (
		[TAXON_RANK_KEY]
	),
	CONSTRAINT [FK_TAXON_LIST_ITEM_TAXON_VERSION] FOREIGN KEY 
	(
		[TAXON_VERSION_KEY]
	) REFERENCES [dbo].[TAXON_VERSION] (
		[TAXON_VERSION_KEY]
	)
GO

ALTER TABLE [dbo].[TAXON_LIST_VERSION] DROP
	CONSTRAINT [FK_TAXON_LIST_VERSION_TAXON_LIST] 

GO

ALTER TABLE [dbo].[TAXON_LIST_VERSION] ADD 
	CONSTRAINT [FK_TAXON_LIST_VERSION_TAXON_LIST] FOREIGN KEY 
	(
		[TAXON_LIST_KEY]
	) REFERENCES [dbo].[TAXON_LIST] (
		[TAXON_LIST_KEY]
	) 
GO

ALTER TABLE [dbo].[TAXON_OCCURRENCE] DROP
	CONSTRAINT [FK_TAXON_OCCURRENCE_RECORD_TYPE]
ALTER TABLE [dbo].[TAXON_OCCURRENCE] DROP
	CONSTRAINT [FK_TAXON_OCCURRENCE_SAMPLE]
ALTER TABLE [dbo].[TAXON_OCCURRENCE] DROP
	CONSTRAINT [FK_TAXON_OCCURRENCE_SUBSTRATE]

GO

ALTER TABLE [dbo].[TAXON_OCCURRENCE] ADD 
	CONSTRAINT [FK_TAXON_OCCURRENCE_RECORD_TYPE] FOREIGN KEY 
	(
		[RECORD_TYPE_KEY]
	) REFERENCES [dbo].[RECORD_TYPE] (
		[RECORD_TYPE_KEY]
	),
	CONSTRAINT [FK_TAXON_OCCURRENCE_SAMPLE] FOREIGN KEY 
	(
		[SAMPLE_KEY]
	) REFERENCES [dbo].[SAMPLE] (
		[SAMPLE_KEY]
	)  ,
	CONSTRAINT [FK_TAXON_OCCURRENCE_SUBSTRATE] FOREIGN KEY 
	(
		[SUBSTRATE_KEY]
	) REFERENCES [dbo].[SUBSTRATE] (
		[SUBSTRATE_KEY]
	)
GO

ALTER TABLE [dbo].[TAXON_OCCURRENCE_DATA] DROP
	CONSTRAINT [FK_TAXON_OCCURRENCE_DATA_MEASUREMENT_QUALIFIER]
ALTER TABLE [dbo].[TAXON_OCCURRENCE_DATA] DROP
	CONSTRAINT [FK_TAXON_OCCURRENCE_DATA_MEASUREMENT_UNIT]
ALTER TABLE [dbo].[TAXON_OCCURRENCE_DATA] DROP
	CONSTRAINT [FK_TAXON_OCCURRENCE_DATA_TAXON_OCCURRENCE]

go

ALTER TABLE [dbo].[TAXON_OCCURRENCE_DATA] ADD 
	CONSTRAINT [FK_TAXON_OCCURRENCE_DATA_MEASUREMENT_QUALIFIER] FOREIGN KEY 
	(
		[MEASUREMENT_QUALIFIER_KEY]
	) REFERENCES [dbo].[MEASUREMENT_QUALIFIER] (
		[MEASUREMENT_QUALIFIER_KEY]
	),
	CONSTRAINT [FK_TAXON_OCCURRENCE_DATA_MEASUREMENT_UNIT] FOREIGN KEY 
	(
		[MEASUREMENT_UNIT_KEY]
	) REFERENCES [dbo].[MEASUREMENT_UNIT] (
		[MEASUREMENT_UNIT_KEY]
	),
	CONSTRAINT [FK_TAXON_OCCURRENCE_DATA_TAXON_OCCURRENCE] FOREIGN KEY 
	(
		[TAXON_OCCURRENCE_KEY]
	) REFERENCES [dbo].[TAXON_OCCURRENCE] (
		[TAXON_OCCURRENCE_KEY]
	) 
GO

ALTER TABLE [dbo].[TAXON_OCCURRENCE_RELATION] DROP
	CONSTRAINT [FK_TAXON_OCCURRENCE_RELATION_RELATIONSHIP_TYPE]
ALTER TABLE [dbo].[TAXON_OCCURRENCE_RELATION] DROP
	CONSTRAINT [FK_TAXON_OCCURRENCE_RELATION_TAXON_OCCURRENCE1]
ALTER TABLE [dbo].[TAXON_OCCURRENCE_RELATION] DROP
	CONSTRAINT [FK_TAXON_OCCURRENCE_RELATION_TAXON_OCCURRENCE2]

GO

ALTER TABLE [dbo].[TAXON_OCCURRENCE_RELATION] ADD 
	CONSTRAINT [FK_TAXON_OCCURRENCE_RELATION_RELATIONSHIP_TYPE] FOREIGN KEY 
	(
		[RELATIONSHIP_TYPE_KEY]
	) REFERENCES [dbo].[RELATIONSHIP_TYPE] (
		[RELATIONSHIP_TYPE_KEY]
	),
	CONSTRAINT [FK_TAXON_OCCURRENCE_RELATION_TAXON_OCCURRENCE1] FOREIGN KEY 
	(
		[TAXON_OCCURRENCE_KEY_1]
	) REFERENCES [dbo].[TAXON_OCCURRENCE] (
		[TAXON_OCCURRENCE_KEY]
	),
	CONSTRAINT [FK_TAXON_OCCURRENCE_RELATION_TAXON_OCCURRENCE2] FOREIGN KEY 
	(
		[TAXON_OCCURRENCE_KEY_2]
	) REFERENCES [dbo].[TAXON_OCCURRENCE] (
		[TAXON_OCCURRENCE_KEY]
	)  
GO

ALTER TABLE [dbo].[TAXON_OCCURRENCE_SOURCES] DROP
	CONSTRAINT [FK_TAXON_OCCURRENCE_SOURCES_SOURCE]
ALTER TABLE [dbo].[TAXON_OCCURRENCE_SOURCES] DROP
	CONSTRAINT [FK_TAXON_OCCURRENCE_SOURCES_TAXON_OCCURRENCE]

GO

ALTER TABLE [dbo].[TAXON_OCCURRENCE_SOURCES] ADD 
	CONSTRAINT [FK_TAXON_OCCURRENCE_SOURCES_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	) ,
	CONSTRAINT [FK_TAXON_OCCURRENCE_SOURCES_TAXON_OCCURRENCE] FOREIGN KEY 
	(
		[TAXON_OCCURRENCE_KEY]
	) REFERENCES [dbo].[TAXON_OCCURRENCE] (
		[TAXON_OCCURRENCE_KEY]
	) 
GO

ALTER TABLE [dbo].[TAXON_SOURCES] DROP
	CONSTRAINT [FK_TAXON_SOURCES_SOURCE]
ALTER TABLE [dbo].[TAXON_SOURCES] DROP
	CONSTRAINT [FK_TAXON_SOURCES_TAXON]

GO

ALTER TABLE [dbo].[TAXON_SOURCES] ADD 
	CONSTRAINT [FK_TAXON_SOURCES_SOURCE] FOREIGN KEY 
	(
		[SOURCE_KEY]
	) REFERENCES [dbo].[SOURCE] (
		[SOURCE_KEY]
	) ,
	CONSTRAINT [FK_TAXON_SOURCES_TAXON] FOREIGN KEY 
	(
		[TAXON_KEY]
	) REFERENCES [dbo].[TAXON] (
		[TAXON_KEY]
	) 
GO

ALTER TABLE [dbo].[TAXON_TAXON_ASSOCIATION] DROP
	CONSTRAINT [FK_TAXON_TAXON_ASSOCIATION_TAXON_VERSION1]
ALTER TABLE [dbo].[TAXON_TAXON_ASSOCIATION] DROP
	CONSTRAINT [FK_TAXON_TAXON_ASSOCIATION_TAXON_VERSION2]

GO

ALTER TABLE [dbo].[TAXON_TAXON_ASSOCIATION] ADD 
	CONSTRAINT [FK_TAXON_TAXON_ASSOCIATION_TAXON_VERSION1] FOREIGN KEY 
	(
		[TAXON_VERSION_KEY_1]
	) REFERENCES [dbo].[TAXON_VERSION] (
		[TAXON_VERSION_KEY]
	),
	CONSTRAINT [FK_TAXON_TAXON_ASSOCIATION_TAXON_VERSION2] FOREIGN KEY 
	(
		[TAXON_VERSION_KEY_2]
	) REFERENCES [dbo].[TAXON_VERSION] (
		[TAXON_VERSION_KEY]
	) 
GO

ALTER TABLE [dbo].[TAXON_USER_NAME] DROP
	CONSTRAINT [FK_TAXON_USER_NAME_TAXON_LIST_ITEM]

GO

ALTER TABLE [dbo].[TAXON_USER_NAME] ADD 
	CONSTRAINT [FK_TAXON_USER_NAME_TAXON_LIST_ITEM] FOREIGN KEY 
	(
		[TAXON_LIST_ITEM_KEY]
	) REFERENCES [dbo].[TAXON_LIST_ITEM] (
		[TAXON_LIST_ITEM_KEY]
	) 
GO

ALTER TABLE [dbo].[TAXON_VERSION] DROP
	CONSTRAINT [FK_TAXON_VERSION_TAXON]

GO

ALTER TABLE [dbo].[TAXON_VERSION] ADD 
	CONSTRAINT [FK_TAXON_VERSION_TAXON] FOREIGN KEY 
	(
		[TAXON_KEY]
	) REFERENCES [dbo].[TAXON] (
		[TAXON_KEY]
	) 
GO

ALTER TABLE [dbo].[TAXON_VERSION_RELATION] DROP
	CONSTRAINT [FK_TAXON_VERSION_RELATION_TAXON_VERSION1]
ALTER TABLE [dbo].[TAXON_VERSION_RELATION] DROP
	CONSTRAINT [FK_TAXON_VERSION_RELATION_TAXON_VERSION2]

GO

ALTER TABLE [dbo].[TAXON_VERSION_RELATION] ADD 
	CONSTRAINT [FK_TAXON_VERSION_RELATION_TAXON_VERSION1] FOREIGN KEY 
	(
		[TAXON_VERSION_KEY_1]
	) REFERENCES [dbo].[TAXON_VERSION] (
		[TAXON_VERSION_KEY]
	),
	CONSTRAINT [FK_TAXON_VERSION_RELATION_TAXON_VERSION2] FOREIGN KEY 
	(
		[TAXON_VERSION_KEY_2]
	) REFERENCES [dbo].[TAXON_VERSION] (
		[TAXON_VERSION_KEY]
	) 
GO

ALTER TABLE [dbo].[TENURE] DROP
	CONSTRAINT [FK_TENURE_LOCATION]
ALTER TABLE [dbo].[TENURE] DROP
	CONSTRAINT [FK_TENURE_NAME]
ALTER TABLE [dbo].[TENURE] DROP
	CONSTRAINT [FK_TENURE_TENURE_TYPE]

GO

ALTER TABLE [dbo].[TENURE] ADD 
	CONSTRAINT [FK_TENURE_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	),
	CONSTRAINT [FK_TENURE_NAME] FOREIGN KEY 
	(
		[OWNED_BY]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	),
	CONSTRAINT [FK_TENURE_TENURE_TYPE] FOREIGN KEY 
	(
		[TENURE_TYPE_KEY]
	) REFERENCES [dbo].[TENURE_TYPE] (
		[TENURE_TYPE_KEY]
	)
GO

ALTER TABLE [dbo].[USER] DROP
	CONSTRAINT [FK_USER_INDIVIDUAL]
ALTER TABLE [dbo].[USER] DROP
	CONSTRAINT [FK_USER_NAME]

GO

ALTER TABLE [dbo].[USER] ADD 
	CONSTRAINT [FK_USER_INDIVIDUAL] FOREIGN KEY 
	(
		[NAME_KEY]
	) REFERENCES [dbo].[INDIVIDUAL] (
		[NAME_KEY]
	),
	CONSTRAINT [FK_USER_NAME] FOREIGN KEY 
	(
		[NAME_KEY]
	) REFERENCES [dbo].[NAME] (
		[NAME_KEY]
	)
GO

