if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[LOCATION_BOUNDARY]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[LOCATION_BOUNDARY]
GO

CREATE TABLE [dbo].[LOCATION_BOUNDARY] (
	[LOCATION_BOUNDARY_KEY] [char] (16) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[LOCATION_KEY] [char] (16) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[FROM_VAGUE_DATE_START] [int] NULL ,
	[FROM_VAGUE_DATE_END] [int] NULL ,
	[FROM_VAGUE_DATE_TYPE] [varchar] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TO_VAGUE_DATE_START] [int] NULL ,
	[TO_VAGUE_DATE_END] [int] NULL ,
	[TO_VAGUE_DATE_TYPE] [varchar] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[VERSION] [smallint] NOT NULL ,
	[MAP_SHEET_KEY] [char] (16) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OBJECT_ID] [varchar] (30) NULL ,
	[ENTERED_BY] [char] (16) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ENTRY_DATE] [smalldatetime] NOT NULL ,
	[CHANGED_BY] [char] (16) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CHANGED_DATE] [smalldatetime] NULL ,
	[SYSTEM_SUPPLIED_DATA] [bit] NOT NULL ,
	[CUSTODIAN] [char] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[External_Filename]	[varchar] (255) NULL ,
	[External_Filename_KeyField] [varchar] (50) NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[LOCATION_BOUNDARY] ADD 
	CONSTRAINT [DF_LocationBoundary_ObjectID] DEFAULT ('-1') FOR [OBJECT_ID],
	CONSTRAINT [DF__Temporary__ENTRY__05D8E0BE] DEFAULT (getdate()) FOR [ENTRY_DATE],
	CONSTRAINT [DF__Temporary__SYSTE__06CD04F7] DEFAULT (0) FOR [SYSTEM_SUPPLIED_DATA],
	CONSTRAINT [PK_LOCATION_BOUNDARY] PRIMARY KEY  NONCLUSTERED 
	(
		[LOCATION_BOUNDARY_KEY]
	)  ON [PRIMARY] 
GO

 CREATE  INDEX [LOCATION_KEY] ON [dbo].[LOCATION_BOUNDARY]([LOCATION_KEY]) ON [PRIMARY]
GO

GRANT  SELECT  ON [dbo].[LOCATION_BOUNDARY]  TO [R2k_ReadOnly]
GO

GRANT  SELECT  ON [dbo].[LOCATION_BOUNDARY]  TO [R2k_RecordCardsOnly]
GO

GRANT  SELECT ,  INSERT  ON [dbo].[LOCATION_BOUNDARY]  TO [R2k_AddOnly]
GO

GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[LOCATION_BOUNDARY]  TO [R2k_FullEdit]
GO

GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[LOCATION_BOUNDARY]  TO [R2k_Administrator]
GO

ALTER TABLE [dbo].[LOCATION_BOUNDARY] ADD 
	CONSTRAINT [FK_LOCATION_BOUNDARY_LOCATION] FOREIGN KEY 
	(
		[LOCATION_KEY]
	) REFERENCES [dbo].[LOCATION] (
		[LOCATION_KEY]
	)
GO

